/* admin css file */
html, body{
    height: 100%;
}

body {
    margin: 0;
    font-size: 14pt;
}

/* block dislay */
.display-block {
    display: block;
}

/* login-wrapper div */
#login-div {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100% !important;
}

/* toastr configuration */
.toast-success {
    background-color: rgb(0, 165, 41) !important;
}

.toast-error {
    background-color: rgb(128, 0, 0) !important;
}

.toast-warning {
    background-color: rgb(184, 89, 34) !important;
}

.toast-info {
    background-color: #0995e6;
}
/* end toastr */

/* wrappers */
.first-content-row {
    margin-top:1.5%;
}

.parent-wrapper {
    margin:2% auto;
}

.content-wrapper {
    width: 92% !important;
}

.big-wrapper {
    padding: 2%;
}

/* label */
label {
    font-size:14pt;
    color: #696969;
}

/* Login */
#shield-container {
    text-align: center;
    font-size: 60pt;
}

#login-div-right {
    background-color: #fff;
    margin:0 auto;  
    padding: 5% 3% 10%;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
}

#login-div-left {
    width: 100%;
    display: flexbox;
    padding:0;
}

#login-div-left:before{
    content: "";
    /* background-image: url('../img/house.jpeg'); */
    background-color: #2774AE;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* opacity: 0.95; */
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}

.admin-login-link-container {
    float:right !important;
    width: 30%;
}

a.admin-login-link {
    position: relative;
    font-size: 16pt;
    display: block;
    color: #b3d4ec;
    text-align: center !important;
    text-decoration: none;
    margin-top: 15%;
    padding: 10%;
   
  }

  a.admin-login-link-active {
    border-top-left-radius: 180px;
    border-bottom-left-radius:180px;
    /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.6),
    -6px -6px 10px rgba(0, 0, 0, 0.2); */
    background-color: #fff;
    color: #2774AE;
  }

  /* nav header */
  .header {
      margin-top: 10%;
  }

  /* admin menu */
  @keyframes nav-animation {
    from {color: #fff; transform:translate3d(300%);}
    to {color: #2774AE; background-color: #fff; transform: translateX(0%);}
  }

  .nav-container {
    background-color:#2774AE; 
    padding: 0
  }

  .menu-container {
      padding-top: 15%;
      padding-left: 10%;
      justify-items: center;
      margin: 0;
  }

  .menu-container>nav>a {
      text-decoration: none;
      margin-bottom: 6%;
      padding: 4% 3.5% 4%;
      width: 100% !important;
      border-top-left-radius: 360px;
      border-bottom-left-radius: 360px;
      color: #b3d4ec;
      font-size: 14pt;
      transition:  ease-in color .4s;
  }

  .menu-container>nav>a:hover {
    text-decoration: none;
    color: rgb(235, 229, 229);
  }

  .menu-container>nav>a.active{
      animation-name: nav-animation;
      animation-delay: 1s;
      animation-duration: 1s;
      animation-timing-function:step-start;
      animation-fill-mode: both;
      /* animation-direction: reverse; */
      animation-play-state: running;
      font-weight: normal;
      /* box-shadow: -6px -6px 10px  rgba(0, 0, 0, 0.2),
      inset 0px 0px 10px rgba(255, 255, 255, 0.6); */
  }

  .menu-container>nav>a>i {
      padding-right: 3%;
      margin-left: 3%;
  }

  .bottom-menu {
      padding-left: 2.3%;
      margin-bottom: 0.7%;
  }

  a.bottom-link {
      text-decoration: none;
      color: #b3d4ec;
      font-size: 12pt;
      margin-right: 5%;
      transition: ease-in color .4s;
  }

  a.bottom-link:hover {
      color: rgb(235, 229, 229);
  }

  /* padding/spacing */
  .medium-div-spacing {
    padding: 3%;
  }

  .div-space {
    padding: 1%;
  }

  .no-padding {
      padding:0;
  }

  .no-padding-left {
    padding-left: 0;
  }

  .x1-padding {
      padding: 1%;
  }

  .x2-padding {
      padding: 2%;
  }

  .x3-padding {
      padding: 3%;
  }

  .x4-padding {
      padding: 4%;
  }

  .x5-padding {
      padding: 5%;
  }

  .x6-padding {
      padding: 6%;
  }

  .x7-padding {
      padding: 7%;
  }

  .x8-padding {
      padding: 8%;
  }

  .x9-padding {
      padding: 9%;
  }

  .x10-padding {
      padding: 10%;
  }

  /* title */
  .title {
      font-size: 16pt;
      font-weight: 500;
      color:rgb(144,144,144);
      border-bottom:1px solid rgba(168, 160, 160, 0.2);
      padding-bottom: 0.9%;
  }

  /* investment overview titles */
  .overview-title {
      font-size: 14pt;
      font-weight: normal;
      color: rgb(117, 112, 112);
      margin-bottom: 0.2%;
  }

  /* name initial circle */
  .initial-1 {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: rgb(40, 116, 175); 
    color: rgb(250, 245, 245);
    border-radius:200px; 
    height: 30px;
    width:30px;
  }

  .initial-2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: rgb(40, 175, 63); 
    color: rgb(250, 245, 245);
    border-radius:200px; 
    height: 30px;
    width:30px;
  }

  .initial-3 {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: rgb(175, 40, 168); 
    color: rgb(250, 245, 245);
    border-radius:200px; 
    height: 30px;
    width:30px;
  }

  .initial-4 {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color: rgb(175, 40, 63); 
    color: rgb(250, 245, 245);
    border-radius:200px; 
    height: 30px;
    width:30px;
  }

  .initial-5 {
    display: inline-block;
    align-items: center;
    text-align: center;
    background-color:  rgb(175, 105, 40);
    color: rgb(250, 245, 245);
    border-radius:200px; 
    height: 30px;
    width:30px;
  }

  /* border */
  .border-bottom {
      border-bottom: 1px solid rgb(144,144,144);
  }

  /* over writting boostrap default nav-tab active */
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #2774AE !important;
      font-weight: bold;
  }

  a{
    color: rgb(139, 136, 136);
    text-decoration: none;
    background-color: transparent;
  }

  /* seach button */
  .btn-search {
      background-color: #2774AE;
      color: #fff;
  }

  /* modification of boostrap pagination link */
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color:#2774AE;
    border-color: #2774AE;
}

/* textarea */
textarea {
    resize: none;
}

/* property listing counter */
@keyframes active-tab {
    from { background-color: rgba(168, 160, 160, 0.2); opacity: 0.7;}
    to {background-color: #2774AE; opacity: 1; color: #fff; box-shadow: 0 1px 8px 2px rgba(58, 57, 57, 0.36);}
}

.counter {
    list-style: none;
    /* overflow: hidden; */
    margin-bottom: 2%;
    padding: 2%;
}

.counter > li {
    display: inline-block;
    background-color: rgba(168, 160, 160, 0.2);
    opacity: 0.7;
    margin: 1% 2% 0;
    height: 30px;
    width: 30px;
    align-items: baseline;
    border-radius: 200px;
    cursor: pointer;
}

.counter > li.active {
    animation-name: active-tab;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
    /* z-index: -1; */
    /* transform: translateX(-50%) translateY(-60%); */
}